*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
   --white: hsl(0, 0%, 100%);
   --stone-100: hsl(30, 54%, 90%);
   --stone-150: hsl(30, 18%, 87%);
   --stone-600: hsl(30, 10%, 34%);
   --stone-900: hsl(24, 5%, 18%);
   --brown-800: hsl(14, 45%, 36%);
   --rose-800: hsl(332, 51%, 32%);
   --rose-50: hsl(330, 100%, 98%);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    background-color: var(--stone-100);
    padding: 3rem;
    line-height: 1.4;
    color: var(--stone-900)
}

h1, h2{
    font-family: 'Young Serif', serif;
    font-weight: 400;
}

h1{
    font-size: 2.8rem;
}

h2{
    color: var(--brown-800);
    margin-bottom: 1rem ;
    font-size: 2rem;
}

h3{
    color: var(--rose-800);
    font-size: 1.3rem;
}

p{
    margin-bottom: 1rem;
}

img{
    display: block;
    max-width: 100%;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe{
    padding: 48px;
    background-color: var(--white);
    border-radius: 20px;
}

.main-photo{
    border-radius: 20px;
    margin-bottom: 20px;
}

.recipe > h1{
    padding: 20px 0;
    
}
.recipe > p{
    padding-bottom: 20px;
}

/*section 'preparation'*/
.preparation{
    background-color: var(--rose-50);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1rem;
}

.preparation h3{
    margin-bottom: .5rem;
}

.preparation ul li::marker{
    color: var(--rose-800);
}

ul {
    padding-left: 20px;
}

li{
    margin-bottom: .5rem;
    padding-left: 10px;
}

li strong{
    font-weight: 800;
    color: var(--stone-600);
}

/*customize the line*/
hr{
    margin: 1.5rem 0;
    border: 1px solid var(--stone-150);
}


/*section 'ingredients'*/
.ingredients ul li::marker{
    color: var(--brown-800);
}

/*section 'instructions'*/
ol {
    padding-left: 20px;
}

.instructions ol li::marker{
    color: var(--brown-800);
    font-weight: 700;
}

/*section 'nutrition'*/
.nutrition p{
    margin-bottom: 1rem;
}
  
table{
    border-collapse: collapse;
    border-spacing: 100px 10px;
    width: 100%;
    margin-bottom: 1.8rem;
}

th, td{
    padding: 10px 20px;
    border-bottom: 1px solid var(--stone-150);
}

th{
   text-align: left; 
}

td{
    color: var(--brown-800);
    font-weight: bold;
}

/*Footer*/
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer{
    padding: 30px;
}

/*media queries*/

@media (max-width: 426px) {
    body{
        padding: 0;
        margin: 0;
    }

   .recipe{
        padding: 0;
        border-radius: 0%;
   }

    .main-photo{
        border-radius: 0%;
    }

    .content{
        padding: 0 20px;
    }

    h1{
        font-size: 2.4rem;
    }

}
